<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199733170254-2c641e2d86ls23p3cs05j3t74toh31qc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199733170254-2c641e2d86ls23p3cs05j3t74toh31qc</string>
	<key>API_KEY</key>
	<string>AIzaSyD6NxpZ3nGdOuouSQltmeGHiKhZQxQMEHo</string>
	<key>GCM_SENDER_ID</key>
	<string>199733170254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imt.ticket</string>
	<key>PROJECT_ID</key>
	<string>request-ticket-f0db9</string>
	<key>STORAGE_BUCKET</key>
	<string>request-ticket-f0db9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199733170254:ios:c13224d60df0ebb0b8b31f</string>
</dict>
</plist>